[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyside2 = "*"
pyqtgraph = "*"
pydicom = "*"
numpy = "*"
lymphangioma-segmentation = {editable = true, path = "./lymphangioma-segmentation"}
deprecated = "*"

[requires]
python_version = "3.8"
