[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"
jupyter = "*"

[packages]
pyside2 = "*"
pyqtgraph = "*"
pydicom = "*"
numpy = "*"
lymphangioma-segmentation = {editable = true, path = "./lymphangioma-segmentation"}
deprecated = "*"
opencv-python = "==4.1.2.30"
scipy = "*"

[requires]
python_version = "3.8"
